<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+Nag+Mundari:wght@400;500&family=Open+Sans&family=Roboto:wght@100;300;500;700&display=swap"
    rel="stylesheet">

<header class="centro">
    <h1>Conheça aqui o novo centro de adoção</h1>
</header>

<main>
    <div class="container">

        <!-- outro span -->
        <h1 style="font-family: Arial, Helvetica, sans-serif;">Por que eu adotaria?</h1>
        <ul class="lista">
            <h2 class="titulo">Todos os benefícios de ter um petmigo</h2>
            <li class="link">Achar um amigo para sua vida!</li>
            <li class="link">Companhia mais carinhosa!</li>
            <li class="link">Ter sempre alguém te esperando em casa!</li>
        </ul>

        <!-- outro span -->
        <h1 style="font-family: Arial, Helvetica, sans-serif;">Crie memórias com alguém!</h1>
        <ul class="lista">
            <h2 class="titulo">Todos os benefícios de ter um petmigo</h2>
            <li class="link">Achar um amigo para sua vida!</li>
            <li class="link">Companhia mais carinhosa!</li>
            <li class="link">Ter sempre alguém te esperando em casa!</li>
        </ul>

        <!-- outro span -->

        
    </div>

</main>
<script src="../backend/server.js"></script>
<app-footer>